/* App.css */

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f7f7f5;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh; /* Adjusted for more compact header */
  width: 100%; /* Full width */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
}

.upload-container {
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

input[type="file"] {
  margin: 10px 0;
  padding: 10px;
}

button {
  background-color: #07bac7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #203d4d;
}

/* Style for the label that acts as the "Choose File" button */
.file-input-container {
  display: inline-block; /* Or block, depending on layout */
  background-color: #07bac7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

/* Optional: Styling for when the mouse hovers over the label */
.file-input-container:hover {
  background-color: #203d4d;
}

.tutorial-link {
  display: block; /* Makes the margin applicable */
  margin-bottom: 90px; /* Adjust the value as needed */
  font-family: 'Inter', sans-serif;
}


.App-logo {
  max-height: 85px; /* Adjust the size as needed */
  width: auto;
  margin-bottom: 20px;
}

